.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

.content {
    margin-left: 40px;
}

h1, h2, h3, h4 {
    font-family: 'Lobster', cursive;
}

.date {
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
}

.post h1 a, .post h1 a:visited {
    color: #000000;
}

.comment {
    margin: 20px 0px 20px 20px;
}

body { padding-top: 70px; }

.ps1 { text-indent: 0em; }
.ps2 { text-indent: 1em; }
.ps3 { text-indent: 2em; }
.ps4 { text-indent: 3em; }
.ps5 { text-indent: 4em; }
.ps6 { text-indent: 5em; }
.ps7 { text-indent: 6em; }
.ps8 { text-indent: 7em; }
.ps9 { text-indent: 8em; }
.ps10 { text-indent: 9em; }
.ps11 { text-indent: 10em; }
.ps12 { text-indent: 11em; }
.ps13 { text-indent: 12em; }
.ps14 { text-indent: 13em; }
.ps15 { text-indent: 14em; }